{% extends 'extender.html' %}                         
{% block content %}
<title>Upload File</title>
<div class = "card" style="position: absolute; top: 30%; left: 35%;  align-content: right;text-align: center; padding: 50px; background: #1DC7EA;">
	<form name = "mainForm" method="post" enctype="multipart/form-data" style="display: inline-block;">
		{% csrf_token %}	
		<p><label for="id_title" style="color:white;">Title:</label> <input type="text" name="title" maxlength="50" required id="id_title"></p>
		<p><label for="id_file" style="color: white;">File:</label> <input type="file" accept=".txt" name="file" required id="id_file" onchange="checkExt();"></p>
		<button type="submit" style="color: black;">Upload</button>
	</form>
</div>
<script type="text/javascript">
	function checkExt() {
		if(document.mainForm.file.value.lastIndexOf(".txt") == -1){
			alert('Please upload a .txt file');
			document.getElementById('id_title').value = '';
			return;
		}
	}
</script>
{% endblock %}